# Ignorar o ambiente virtual
.venv/
.venv-py310/

# Ignorar o dataset
dataset/

# Ignorar arquivos de cache do Python
__pycache__/
*.pyc

# Ignorar arquivos de banco de dados SQLite
*.db
*.sqlite3

# Ignorar diretório de imagens de teste
test_images/