# Este arquivo lista as dependências do projeto.
# Use o comando `pip install -r requirements.txt` em um ambiente virtual para instalá-las.

ultralytics 
opencv-python 
numpy 
pyyaml 
torch 
torchvision 
matplotlib 
seaborn